tmp

# Configuration
config/config.json
config/config.js
config/config.production.json
config/config.production.js

# Build / Modules
node_modules
build
nmc_logs
logs

# OS Files
desktop.ini
.DS_Store

minecraft

# Editor FIles
jsconfig.json
